* {
  /* needed for consistent background-color. */
  background-image: none;
}

window {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

#container {
  background-color: rgb(23, 23, 23);
  color: white;
  padding: 50px;
  border: 1px solid white;
  border-radius: 10px;
}

button {
  background-color: black;
}

button:focus,
button:active,
button:hover {
  border: 2.5px solid green;
  background-color: green;
}
